*, *:before, *:after {
  margin:0;
  box-sizing: border-box;
}
.content{
  display: flex;
  width:100%;
  height: 100vh;
  overflow: hidden;
}
.channelRow{
  background: #455A64;
  width: 300px;
  height:100%;
  box-shadow: 0 0 4px 1px rgba(0,0,0,0.5);

}
.videoRow {
  height: 100%;
}

.channelRow .options  {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 1px 2px rgba(0,0,0,0.5);
  user-select:none;
}
.channelRow .options p {
  flex-grow: 1;
  text-align: center;
  padding:10px;
  color:white;
  cursor: pointer;
}

.channelRow .options p:hover {
  transform: scale(1.1);
}
.channelRow .options p:active {
  transform: scale(0.9);
}
.channels {
  height: 100%;
  overflow: scroll;
}
::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-thumb {
    background: rgba(255,0,0,0.1);
}
.channels .profile {
  border-bottom: 0.5px solid #607D8B;
}
.channels .profile:hover{
  background-color: rgba(68, 65, 68,0.2);
}
.channels .profile{
  display: flex;
  justify-content: center;
  align-items: center;
}
.channels .profile > * {
  flex-grow: 1;
  text-align: center;
}
.channels .profile img {
  width:20px;
  padding: 5px;

}
.channels .profile i {
  color: white;
}
.channels .profile i:active {
  transform: scale(0.9);
}
