*, *:before, *:after {
  margin:0;
  box-sizing: border-box;
}
.content{
  display: flex;
  width:100%;
  height: 100vh;
  overflow: hidden;
}
.channelRow{
  position:relative;
  background: #455A64;
  width: 300px;
  height:100%;
  box-shadow: 0 0 4px 1px rgba(0,0,0,0.5);
  transition: all 0.8s ease-in-out;
}
.videoRow {
  height: 100%;
  flex-grow:2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.videoRow > *{
  padding:50px;
}
.channelRow .options  {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 1px 2px rgba(0,0,0,0.5);
  user-select:none;
}
.channelRow .options p {
  flex-grow: 1;
  text-align: center;
  padding:10px;
  color:white;
  cursor: pointer;
  margin:0;
}
h1{
  text-shadow: -2px 2px 0px rgba(155, 155, 155, 1);
}
.channelRow .options p:hover {

  background:rgba(0,0,0,0.5);
}
.channelRow .options p:nth-child(1){
  background: rgba(0,0,0,0.5);
}
.channelRow .options p:active {
  transform: scale(0.9);
}
.channels {
  height: 94vh;
  overflow: scroll;
}
::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-thumb {
    background: rgba(255,0,0,0.1);
}
.channels .profile {
  border-bottom: 0.5px solid #607D8B;
}
.channels .profile:hover{
  background-color: rgba(68, 65, 68,0.2);
}
.channels .profile{
  display: flex;
  justify-content: center;
  align-items: center;
}
.channels .profile > * {
  flex-grow: 1;
  text-align: center;
}
.channels .profile img {
  max-width:80px;
  max-height:80px;
  padding: 5px;

}
.channels .profile p {
  width:120px;
}
.channels .profile i {
  color: white;
}
.channels .profile i:active {
  transform: scale(0.9);
}
.channel .profileInfo .organizer {
  display:flex;
  background: rgba(0,0,0,0.5);
  justify-content:center;
  align-items: center;
  flex-direction: column;
}
.profileInfo{
  display:none;
}
.display{
  display:flex;
}
.channel .profileInfo > *{
  padding: 5px;
  color:white;
}
.channel .profileInfo button {
  width: 80px;
}
.organizer > p {
  padding: 10px;
  text-align: center;
  margin:0;
}
.organizer > p:nth-child(3) {
  color:black;
}

#addBtn {
  position: absolute;
    bottom: 30px;
    left: 230px;
    width: 60px;
    height: 60px;
    background: red;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 3px 1px rgba(0,0,0,0.5);
    transition:all 0.2s ;
    user-select:none;
    cursor:pointer;
}
#addBtn:active{
  bottom:28px;
  box-shadow: 0 3px 0px 0px rgba(0,0,0,0.5);
}
@media (max-width:780px) {
  .content{
    display:block;
    height:auto;
  }
  .channelRow{
    width:100%;
  }
}
